body {
  font-family: sans-serif;
  background: #42426b;
  background-image: -webkit-linear-gradient(135deg, #4f5e7d, #5587fb);
  background-image: linear-gradient(-45deg, #4f5e7d, #5587fb);
  color: rgba(255,255,255,.5);
}

p {
  color: black;
  font-size: .9em;
}

h2 {
  margin-top:30px;
  margin-bottom: 15px;
  color: black;
}

.rb {
  padding: 16px 0;
  text-align: center;
  background: rgba(255,255,255,.03);
  border-radius: .3em;
}

.rb-tab {
  display: inline-block;
  position: relative;
  width: 12%;
}

.rb-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .5em;
  color: #000;
}

.rb-spot {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 2px solid;
  border-radius: 100%;
  cursor: pointer;
  transition: ease .5s;
}

.rb-tab-active .rb-spot {
  height: 50px;
  width: 50px;
  background: #5587fb;
  border: 2px solid #4f5e7d;
}


.main {
 	margin-top: 60px;
}


.main-container {
 	  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   	margin-top: 30px;
   	margin: 0 auto;
   	max-width: 100%;
    padding: 20px 40px;

}

.fa {
  font: normal normal normal 28px/1 FontAwesome;
}

.fa-eye {
  font: normal normal normal 40px/1 FontAwesome;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  font-size: 24px;
}
.form-check-input {
  cursor: pointer;
  color: black;
  margin-left: 10px;
}
  
.pet-selector {
  text-align: center;
}
  
.question input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.woman{
  background-image:url(images/woman.png);
}
.couple{
  background-image:url(images/couple.png);
}
.other{
  background-image:url(images/other.png);
}
.family{
  background-image:url(images/family.png);
}
.man, .single{
  background-image:url(images/man.png);
}

.question input:active +.option{opacity: .9;}
.question input:checked +.option{
    background-color: #5587fb;
  padding: 10px 0;
  border-radius: .2em;
  border: 2px solid #4f5e7d;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.option {
    text-align: center;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:70px;height:60px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in; 
}

.col {
  width: 29.5%;
  display: block;
  text-align: center;
  border: 1px solid #eee;
  background: #f8f8f8;
  padding: 20px;
  margin-bottom: 10px;
}


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  color: #4f5e7d;  
    width:19px;
    height:19px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
    color: #5587fb;
}

