body {
  background-color: #f8f9fa;
  background-repeat:no-repeat;

}

h2 {
  font-size: 24px;
  color: #4f5e7d;
  margin-bottom: 20px;
}

h3 {
  font-size: 21px;
  color: #4f5e7d;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 20px 0px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.navbar {
  height: 60px;
  background-color: #4f5e7d;
}

.navbar-brand:hover {
  background-color: black;
}

.user {
  color: white;
  margin-top: 20px;
}
.inset {
  margin-top:5px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.fa {
  margin: 8px;
  padding-left:5px;
  font-size: 2em;
}


p {
  color: black;
  font-size: .9em;
}

.rb {
  padding: 26px 0;
  text-align: center;
  background: rgba(255,255,255,.03);
  border-radius: .3em;
}

.rb-tab {
  display: inline-block;
  position: relative;
  width: 12%;
}

.rb-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .8em;
  color: #000;
}

.rb-txt:visited {
  color: white;
}

.rb-spot {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: ease .5s;
}

.rb-tab-active .rb-spot {
  height: 50px;
  width: 50px;
  background: #5587fb;
  border: 2px solid #4f5e7d;
}


.main {
  margin-top: 60px;
}


.main-container {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 40px;
      margin-bottom:20px;


}

.fa {
  font: normal normal normal 28px/1 FontAwesome;
}

.fa-eye {
  font: normal normal normal 40px/1 FontAwesome;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  font-size: 24px;
}
.form-check-input {
  cursor: pointer;
  color: black;
  margin-left: 10px;
}
  
.pet-selector {
  text-align: center;
}
  
.question input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.woman{
  background-image:url(images/woman.png);
}
.couple{
  background-image:url(images/couple.png);
}
.other{
  background-image:url(images/other.png);
}
.family{
  background-image:url(images/family.png);
}
.man, .single{
  background-image:url(images/man.png);
}

.question input:active +.option{opacity: .9;}
.question input:checked +.option{
    background-color: #5587fb;
  padding: 10px 0;
  border-radius: 70%;
  border: 2px solid #4f5e7d;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
             transition: ease .5s;

}

.option {
    text-align: center;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:110px;height:110px;
}

.col {
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid #eee;
  background: #5587fb;
  padding: 40px;
  margin-bottom: 20px;
}

.interest {
  color: white;
  width: 40%;
  display: block;
  text-align: center;
  border: 2px solid #eee;
  padding: 20px;
  margin-bottom: 20px;
    margin-left: 210px;
  
}


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  color: #4f5e7d;  
    width:19px;
    height:19px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
    color: #5587fb;
}



.col:hover {
  background-color: #4f5e7d;
  color: white;
  text-decoration: none;
}

.survey-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.survey-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.survey-modal .modal-content p {
    margin-bottom: 30px;
}

.survey-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.survey-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.survey-modal .modal-content img {
    margin-bottom: 30px;
}

.survey-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.survey-modal .close-modal:hover {
    opacity: .3;
}

.survey-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 21px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.survey-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 21px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
