body {
  background-color: #f8f9fa;
  background-repeat:no-repeat;
  font-family: 'Share', cursive;

}

h2 {
  letter-spacing: -1px;
  font-size: 28px;
  color: #4f5e7d;
  margin-bottom: 20px;
}

h3 {
  letter-spacing: -1px;
  font-size: 24px;
  color: #4f5e7d;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 20px 0px;
  font-family: 'Lato'
}

h4.row {
  margin-top:65px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.row-margin {
  height: 80px;
}

.navbar {
  background-color: #4f5e7d;
}

.navbar-right {
    font-family: 'Lato'

}

.navbar-toggle {
  height: 35px;
  width: 35px;
  background-color: white;

}

.navbar-brand {
  letter-spacing: -1px;
  font-size: 30px;
  font-style: italic;
  padding-left: 10px;
}

.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
  }

.main {
  margin-top: 60px;
}

.main-container {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 40px;
      margin-bottom:20px;


}

.navbar-login
{
    margin-bottom: 20px;
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}


.icon-size
{
    font-size: 87px;
}

.wallet {
  height:60px;
  width:60px;
  margin-right: 10px;
  vertical-align: bottom;
}

p {
  color: black;
  font-size: .9em;
}

.rb {
  margin-right:85px;
  text-align: center;
  background: rgba(255,255,255,.03);
  border-radius: .3em;
}

.rb-tab {
  display: inline-block;
  position: relative;
  width: 12%;
}

.rb-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .8em;
  color: #000;
  font-family: 'Lato';
}

.rb-txt:visited {
  color: white;
}

.rb-spot {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: ease .5s;
}

.rb-tab-active .rb-spot {
  height: 50px;
  width: 50px;
  background: #5587fb;
  border: 2px solid #4f5e7d;
}


.fa {
  font: normal normal normal 18px/1 FontAwesome;
}


.fa-6x{
    font-size:2.7em;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  font-size: 24px;
}
.form-check-input {
  cursor: pointer;
  color: black;
  margin-left: 10px;
}
  
.pet-selector {
  text-align: center;
}
  
.question input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.woman{
  background-image:url(../images/woman.png);
}
.couple{
  background-image:url(../images/couple.png);
}
.other{
  background-image:url(../images/other.png);
}
.family{
  background-image:url(../images/family.png);
}
.man, .single{
  background-image:url(../images/man.png);
}

.question input:active +.option{opacity: .9;}
.question input:checked +.option{
  background-color: #5587fb;
  padding: 20px 0;
  border-radius: 90%;
  border: 2px solid #4f5e7d;
  transition: ease .5s;

}

.option {
    text-align: center;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:60px;height:60px;

}

.col {
  letter-spacing: -1px;
  font-style: italic;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid #eee;
  background: #5587fb;
  padding: 40px;
  margin-bottom: 20px;
  font-size: 24px;
}

.interest {
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  border: 2px solid #eee;
  padding: 25px;
  margin-bottom: 5px;
  
}


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  color: #4f5e7d;  
  width:19px;
  height:19px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
    color: #5587fb;
}



.col:hover {
  background-color: #4f5e7d;
  color: white;
  text-decoration: none;
}

.survey-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.survey-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.survey-modal .modal-content p {
    margin-bottom: 30px;
}

.survey-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.survey-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.survey-modal .modal-content img {
    margin-bottom: 30px;
}

.survey-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.survey-modal .close-modal:hover {
    opacity: .3;
}

.survey-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 21px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.survey-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 21px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.flat-butt {
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  padding: 12px 50px;
  border: 0;
  background: #5587fb;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}
.flat-butt:hover {
  background: #4266ba;
}
.flat-primary-butt {
  background: #5587fb;
}
.flat-primary-butt:hover {
  background: #4266ba;
}

.flat-danger-butt {
  background: #e74c3c;
}
.flat-danger-butt:hover {
  background: #ec7063;
}

@media only screen and (min-width: 1000px) {

.navbar-brand {
  padding-left: 110px;
}

.navbar-right {
  padding-right: 110px;
}

}

